/* Medium */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ExtraBold */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraBold800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}