
@media only screen and (max-width: 1024px) {
    .container {
     max-width: 99%;
    }

    .header{
        max-width: 1023px;
    }
    
    .header__wrapper{
        flex-wrap: wrap;
    }
.menu__list{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    
}

}


