.menu__list{
    display: grid;
    justify-content: space-evenly;
    grid-template: repeat(2, minmax(256px, 500px)) /  repeat(4, 256px);
    gap: 49px 29px ;
}
.menu__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.3s;
    position: relative;
}

.menu__item:hover{
    transform: scale(1.1);
}

.menu__price{
    font-weight: 700;
    font-size: 22px;
    
}
.menu__description{
    position: absolute;
    min-height: 80px;
    top: 50%; /* верхняя часть смещена на 50% высоты родителя*/
    left: 50%; /*левая граница смещена на 50% ширины родителя*/
    transform: translate(-50%, 50%);/* смещаем элемент относительно его текущего положения*/
}
.menu__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.menu__button{
    padding: 4px 24px;
    font-size: 14px;
}
.menu__title{
    font-weight: 800;
    font-size: 24px;
    color: #797979;
    line-height: 28px;


}