/* Контейнер-обертка */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Заголовки */
.logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color:#F7D22D;

     
}

/* Кнопки */
.button {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    
    border: none;
    border-radius: 8px;
    padding: 7px 25px;
    background-color: #F7D22D;
    
    cursor: pointer;
}

.button--login {
    color: #000000;

    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
} 
.button--basket{
    color: #000000;
    padding: 7px 25px;
}

.button--link {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 8px;

    border: none;
    background-color: transparent;
}

/* Формы */
.form__field {
    font-size: 16px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(145, 150, 161, 0.4);
    border-radius: 16px;
}